@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}
/* shared */
.heading-primary {
  color: #131318;
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 24px;
}
.heading-secondary {
  color: #131318;
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 16px;
}
.para-primary {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.color-orange {
  color: #ff5400;
}
.back-color-orange {
  background: #ff5400;
}
.hero-btn {
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  padding: 14px 34px;
  border: none;
}

.logo {
  display: flex;
  align-items: center;
  gap: 15px;
}
.logo h3 {
  color: #131318;
  font-size: 36px;
  font-weight: 800;
}

/* header part */

header {
  width: 80%;
  margin: auto;
  margin-top: 50px;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  display: flex;
  align-items: center;
  gap: 30px;
}
header nav ul li {
  list-style: none;
  color: #424247;
  font-size: 18px;
  font-weight: 400;
}
.fa-solid.fa-bars {
  display: none;
}

/* banner */
.banner {
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url(../Images/Group\ 13.png);
  background-position: center;
  background-size: cover;
  position: relative;
  margin-top: 45px;
  height: 80vh;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-content {
  text-align: center;
}
.banner-content h1 {
  color: #fff;
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 24px;
}
.banner-content p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 45px;
  width: 60%;
  margin: auto;
}
.input-field {
  display: flex;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  width: 90%;
  margin: auto;
  margin-top: 50px;
}
.input-field input {
  color: rgba(19, 19, 24, 0.5);
  font-size: 16px;
  font-weight: 400;
  padding: 16px;
  margin: 16px;
  border: none;
  outline: none;
  border-radius: 8px;
  width: 20%;
}

.input-field input[type="submit"] {
  text-align: center;
}

/* popular section */

.popular {
  width: 80%;
  margin: auto;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popular-text {
  flex-basis: 50%;
}

.popular-text .second-para {
  margin-bottom: 45px;
}
.popular-text ul {
  padding: 0 20px;
  margin: 24px 0;
}
.popular-text ul li {
  margin-bottom: 16px;
}
.popular-img {
  flex-basis: 45%;
}
.popular-img img {
  width: 100%;
}

/* destination section */

.destination {
  width: 80%;
  margin: auto;
  margin-top: 100px;
}
.destination-text {
  text-align: center;
}
.destination-text p {
  max-width: 650px;
  margin: auto;
  margin-bottom: 45px;
}
.destination-img {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
}
.destination-img .images {
  position: relative;
  top: 0;
  left: 0;
}
.destination-img .images h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}
.destination-img .images img {
  width: 100%;
}
.img1 {
  grid-column: span 6;
}
.img2 {
  grid-column: span 6;
}
.img3 {
  grid-column: span 4;
}
.img4 {
  grid-column: span 5;
}
.img5 {
  grid-column: span 3;
}
.img6 {
  grid-column: span 5;
}
.img7 {
  grid-column: span 7;
}

/* choosing section */

.choose {
  width: 80%;
  margin: auto;
  margin-top: 100px;
}
.choose-text {
  text-align: center;
}
.choose-content {
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
}
.choose-card {
  padding: 32px 55px 32px 32px;
}
.card1 {
  grid-column: span 4;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
.card2 {
  grid-column: span 4;
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
.card3 {
  grid-column: 3 / span 4;
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}
.choose-card img {
  width: 30%;
}

/* deals section */

.deals {
  width: 80%;
  margin: auto;
  margin-top: 100px;
  text-align: center;
}
.deals-text > p {
  max-width: 640px;
  margin: auto;
  margin-bottom: 45px;
}
.banner1 {
  background-image: url(../Images/Group\ 39.png);
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  margin-bottom: 24px;
}
.banner2 {
  background-image: url(../Images/Group\ 40.png);
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  margin-bottom: 24px;
}
.deals-banner {
  display: flex;
  flex-direction: row-reverse;
}
.deals-banner2 {
  display: flex;
  flex-direction: row;
}
.deals-banner-content {
  padding: 50px;
  margin: 55px;
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
  text-align: left;
}
.deals-properties,
.time,
.max,
.location {
  display: flex;
  align-items: center;
  gap: 6px;
}
.deals-properties {
  gap: 15px;
  margin-bottom: 24px;
}
.deals-banner-content > h3 {
  margin-bottom: 16px;
}
.deals-banner-content > p {
  max-width: 450px;
  margin-bottom: 16px;
}
.deals-banner-content > h5 {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 35px;
}
.deals > button {
  text-align: center;
}

/* simple section */

.simple {
  width: 80%;
  margin: auto;
  margin-top: 100px;
}
.simple-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.simple-text ul {
  padding: 20px;
}
.simple-text ul li {
  color: #131318;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 16px;
}
.simple-text {
  flex-basis: 45%;
}
.vdo {
  flex-basis: 45%;
  position: relative;
  top: 0;
  left: 0;
}
.vdo video {
  width: 100%;
  border-radius: 16px;
}
.vdo p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

/* newsletter section */

.newsletter {
  width: 80%;
  margin: auto;
  margin-top: 100px;
}
.newsletter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.newsletter-content {
  flex-basis: 40%;
  padding: 10px;
  border-radius: 16px;
  border: 1px solid #ff5400;
}
.newsletter-content p {
  margin-bottom: 24px;
}
.newsletter-content input[type="text"],
.newsletter-content input[type="email"] {
  width: 90%;
  padding: 16px;
  margin: 8px auto;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  border-radius: 8px;
  border: none;
}
.newsletter-content input[type="submit"] {
  border: none;
  border-radius: 8px;
  padding: 16px;
  width: 100%;
  margin-top: 16px;
  color: #fff;
  font-size: 20px;
}
.newsletter-img {
  flex-basis: 55%;
  position: relative;
  top: 0;
  left: 0;
}
.save {
  padding: 10px 20px;
  position: absolute;
  bottom: 47px;
  right: 6px;
  color: #fff;
  text-align: center;
  border-radius: 16px;
  transform: rotate(-19.628deg);
}
.save p {
  font-size: 1.5rem;
  font-weight: 400;
}
.save h3 {
  font-size: 2rem;
  font-style: normal;
  font-weight: 800;
}
.newsletter-img img {
  width: 100%;
}

/* bonus section */

.testimony {
  width: 80%;
  margin: auto;
  margin-top: 100px;
  text-align: center;
}
.row {
  margin-top: 50px;
  display: flex;
}
.testimonial-col {
  flex-basis: 44%;
  border-radius: 16px;
  margin-bottom: 5%;
  text-align: left;
  background: #fff3f3;
  padding: 25px;
  cursor: pointer;
  display: flex;
}
.testimonial-col img {
  height: 40px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
}
.testimonial-col p {
  padding: 0;
}
.testimonial-col h3 {
  margin-top: 15px;
}
.testimonial-col .fa,
.fa-star-half-stroke {
  color: #ff5400;
}

/* footer */

footer {
  width: 100%;
  height: 500px;
  background: rgba(19, 19, 24, 0.05);
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer .logo {
  margin-bottom: 20px;
}
footer p {
  max-width: 760px;
}
footer .icons {
  display: flex;
  gap: 30px;
  margin: 40px;
  font-size: 26px;
}
.footer-text {
  width: 90%;
  border-top: 1px solid rgba(19, 19, 24, 0.1);
  padding-top: 30px;
}

@media screen and (max-width: 560px) {
  .heading-primary {
    font-size: 1.7rem;
  }
  .heading-secondary {
    font-size: 1.27rem;
  }
  .para-primary {
    font-size: 14px;
  }
  /* header */
  header {
    width: 90%;
    margin: auto;
    margin-top: 30px;
  }
  header nav .logo h3 {
    font-size: 1.7rem;
  }
  header nav ul {
    display: none;
  }
  .fa-solid.fa-bars {
    display: block;
    color: #000;
    font-size: 24px;
  }

  /* banner */

  .banner {
    height: 70vh;
    margin-top: 20px;
  }
  .banner-content h1 {
    font-size: 1.5rem;
    margin-bottom: 8px;
  }
  .banner-content p {
    font-size: 14px;
    line-height: 21px;
    width: 90%;
    margin: auto;
    margin-bottom: 32px;
  }
  .input-field {
    width: 80%;
    flex-direction: column;
  }
  .input-field input {
    width: 80%;
    margin: 8px auto;
  }

  /* popular section */

  .popular {
    flex-direction: column;
    gap: 20px;
    width: 90%;
    margin-top: 50px;
  }

  /* destination section */

  .choose, /* common */
  .destination {
    margin-top: 30px;
    width: 90%;
  }

  .destination-img {
    /* grid-template-columns: repeat(1, 1fr); */
    grid-template-columns: 70%;
  }
  .images {
    grid-column: span 12;
  }
  .destination-img .images img {
    object-fit: cover;
    height: 200px;
    border-radius: 10px;
  }

  /* choosing section */

  .choose {
    width: 90%;
  }
  .choose-content {
    margin-top: 22px;
    grid-template-columns: 90%;
  }
  .card3 {
    grid-column: span 4;
  }

  /* deals section */

  .deals {
    width: 90%;
    margin-top: 30px;
  }
  .deals-text > p {
    margin-bottom: 25px;
  }

  .deals-banner {
    flex-direction: column-reverse;
  }
  .deals-banner2 {
    flex-direction: column-reverse;
  }
  .deals-banner-content {
    padding: 20px;
    margin: 25px;
    margin-top: 200px;
  }
  .deals-properties {
    flex-wrap: wrap;
    margin-bottom: 18px;
  }
  .deals-banner-content > h5 {
    font-size: 16px;
    margin-bottom: 18px;
  }
  .deals-banner-content > button {
    font-size: 18px;
    padding: 10px 20px;
  }

  /* simple section */

  .simple {
    width: 90%;
    margin-top: 30px;
  }
  .simple-content {
    flex-direction: column;
    gap: 20px;
  }
  .vdo p {
    font-size: 1.2rem;
  }

  /* newsletter section */
  .newsletter {
    width: 90%;
    margin: auto;
    margin-top: 30px;
  }
  .newsletter-container {
    flex-direction: column;
  }
  .save p {
    font-size: 1rem;
  }
  .save h3 {
    font-size: 1.5rem;
  }

  /* bonus section */
  .testimony {
    margin-top: 40px;
    width: 90%;
  }
  .row {
    flex-direction: column;
    margin-top: 20px;
  }

  /* footer */
  footer {
    height: 400px;
    margin-top: 30px;
  }
  footer .logo {
    font-size: 22px;
  }
  footer p {
    max-width: 80%;
  }
  footer .icons {
    margin: 20px;
  }
}
